<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header id="header" class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
            <img src="../../static/svg/mastodon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            [[${session.loginUser.getUserName()}]]
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/main}">主页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        学习
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/selectWord}">背单词</a>
                        <a class="dropdown-item" th:href="@{/viewListen}">听听力</a>
                        <a class="dropdown-item" th:href="@{/viewbook}">看书籍</a>
                        <a class="dropdown-item" th:href="@{/toCollection}">单词本</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-expanded="false">
                        学习中心
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" th:href="@{/selectWord}" href="#">背单词</a>
                        <a class="dropdown-item" th:href="@{/viewListen}">听听力</a>
                        <a class="dropdown-item" th:href="@{/viewbook}">看书籍</a>
                        <a class="dropdown-item" th:href="@{/toCollection}">单词本</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
</html>