.pagination1 {
    display: flex;
    padding-left: 0;
    list-style: none
}

.pagination1-a {
    color: #000000;
    background-color: #AFEEEE;
    text-decoration: none;
    border-style: groove;
    border-color: #FFFFFF;
    border-radius: 5px;
}