<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>修改信息</title>
    <style>
        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown>.dropdown-toggle:active {
            pointer-events: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../static/svg/person-fill.svg" th:src="@{/svg/person-fill.svg}" width="25" height="25" class="d-inline-block align-top" alt="">
            <a>[[${session.user.getUserName()}]]</a>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" type="button" aria-current="page" th:href="@{/main}">
                        主页
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        学习
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/selectWord}">
                            <img src="../static/svg/pen.svg" th:src="@{/svg/pen.svg}" width="25" height="25" class="d-inline-block align-top"
                                 alt="">
                            &ensp;背单词
                        </a>
                        <a class="dropdown-item" th:href="@{/viewListen}">
                            <img src="../static/svg/listen.svg" th:src="@{/svg/listen.svg}" width="25" height="25" class="d-inline-block align-top"
                                 alt="">
                            &ensp;听听力
                        </a>
                        <a class="dropdown-item" th:href="@{/viewbook}">
                            <img src="../static/svg/book.svg" th:src="@{/svg/book.svg}" width="25" height="25" class="d-inline-block align-top"
                                 alt="">
                            &ensp;看书籍
                        </a>
                        <a class="dropdown-item" th:href="@{/toCollection}">
                            <img src="../static/svg/word.svg" th:src="@{/svg/word.svg}" width="25" height="25" class="d-inline-block align-top"
                                 alt="">
                            &ensp;单词本
                        </a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        个人
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" th:href="@{/toUser}">
                            <img src="../static/svg/modify.svg" th:src="@{/svg/modify.svg}" width="25" height="25" class="d-inline-block align-top"
                                 alt="">
                            &ensp;修改信息
                        </a>
                        <a class="dropdown-item" th:href="@{/user/logout}">
                            <img src="../static/svg/logout.svg" th:src="@{/svg/logout.svg}" width="25" height="25" class="d-inline-block align-top"
                                 alt="">
                            &ensp;退出
                        </a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" type="button" aria-current="page" th:href="@{/toViewNotice}">
                        历史公告
                    </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="content">
    <div class="row">
        <div class="col-lg-11" style="padding-left: 12%; padding-right: 7%">
            <div class="card">
                <div class="card-header" style="background-color: #AFEEEE">
                    <strong>修改用户个人信息</strong>
                </div>
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-1"><label for="text-input1" class="text-primary form-control-label" style="font-weight: bolder">用户名</label></div>
                        <div class="col-12 col-md-11"><input type="text" id="text-input1" name="noticeId" placeholder="Text" class="form-control " th:value="${user.getUserName()}" required></div>
                    </div>
<!--                    <hr class="text-primary">-->
<!--                    <div class="row form-group">-->
<!--                        <div class="col col-md-1"><label for="text-input" class="text-primary form-control-label" style="font-weight: bolder">标题</label></div>-->
<!--                        <div class="col-12 col-md-11"><input type="text"  name="title" placeholder="Text" class="form-control" disabled th:value="${notice.getTitle()}"required></div>-->
<!--                    </div>-->
<!--                    <hr class="text-primary">-->
<!--                    <div class="row form-group">-->
<!--                        <div class="col col-md-1"><label for="textarea-input" class="text-primary form-control-label" style="font-weight: bolder">内容</label></div>-->
<!--                        <div class="col-12 col-md-11"><textarea name="content" id="textarea-input" rows="9" placeholder="Content..." class="form-control" disabled th:utext="${notice.getContent()}"required></textarea></div>-->
<!--                    </div>-->
<!--                    <hr class="text-primary">-->
<!--                    <div class="row form-group">-->
<!--                        <div class="col col-md-1"><label for="text-input" class="text-primary form-control-label" style="font-weight: bolder">修改日期</label></div>-->
<!--                        <div class="col-12 col-md-11"><input type="text" name="creatTime"  class="form-control"th:value="${#dates.format(notice.getCreateTime(),'yyyy-MM-dd') }"  disabled required></div>-->
<!--                    </div>-->
                    <hr class="text-primary">
                    <a id="modify" type="submit" class="btn text-primary col-lg-1" style="background-color: #AAAFFF">提交</a>
                    <a th:href="@{/main}" type="submit" class="btn text-primary col-lg-1" style="background-color: #AFEEEE">返回</a>
                </div>
            </div>
        </div>

    </div>

</div><!-- .content -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/modify.js" th:src="@{/js/modify.js}"></script>
</body>
</html>